.about,
.my-projects,
.jumbotron,
#contact {
  padding-top: 5rem;
}

.jumbotron,
.my-projects {
  background-color: #d4ee7e;
}

.footer {
  background-color: #606c38;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background-color: aqua;
  color: black;
  cursor: grab;
}
